body {
	background-color: #b0c4de;
}

.boite {
	background: aquamarine;
	background-image: url("/img/fortnite.png");
	background-repeat: no-repeat;
	border: 8px solid #da70d6;
	border-style: double;
	margin-bottom: 6px;
	margin-left: 2%;
	margin-top: 1%;
	float: left;
	height: 196px;
	width: 350px;
}

.clear {
	clear: both;
}

.content {
}

p {
	background-color: #66cdaa;
	font-size: 30px;
}
