table {
	border: 1px solid black;
	margin: auto;
	border-collapse: collapse;
}
td {
	width: 20px;
	height: 20px;
	border: 1px solid black;
}

tr:nth-child(2) td:nth-child(2),
tr:nth-child(3) td:nth-child(even) {
}

.jaune {
	background-color: yellow;
}

.gris {
	background-color: gray;
}

.noir {
	background-color: black;
}

.bleu {
	background-color: blue;
}

.vert {
	background-color: green;
}
